@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
	--header-text: #fff;
	--bright-blue-text: hsl(220, 98%, 61%);
	--check-background: linear-gradient(
		45deg,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
	);
	--scroll-background: linear-gradient(
		180deg,
		hsl(192, 100%, 67%),
		hsl(280, 87%, 65%)
	);
	/* dark theme */
	--main-dark-background: hsl(235, 21%, 11%);
	--primary-dark-background: hsl(235, 24%, 19%);
	--text-light-greyish-blue: hsl(234, 39%, 85%);
	--text-light-greyish-blue-hover: hsl(236, 33%, 92%);
	--text-dark-greyish-blue-1: hsl(234, 11%, 52%);
	--text-dark-greyish-blue-2: hsl(233, 14%, 35%);
	--text-dark-greyish-blue-3: hsl(237, 14%, 26%);

	/* light theme */
	--main-light-background: hsl(0, 0%, 98%);
	--light-mode-light-greyish-blue: hsl(236, 33%, 92%);
	--light-mode-dark-grey1: hsl(233, 11%, 84%);
	--light-mode-dark-grey2: hsl(236, 9%, 61%);
	--light-mode-dark-grey3: hsl(235, 19%, 35%);
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
}
html {
	font-size: 18px;
}
/* body{

} */

input,
button {
	font: inherit;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.parent-container {
	background-image: url(./Assets/bg-desktop-dark.jpg);
	background-position: top center;
	background-size: 100% 30%;
	background-repeat: no-repeat;
	background-color: hsl(235, 21%, 11%);
	width: 100%;
	min-height: 100vh;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* light mode background */
.parent-container.light {
	background-image: url(./Assets/bg-desktop-light.jpg);
	background-color: var(--main-light-background);
}
.child-container {
	max-width: 700px;
	width: max(80%, 500px);
	min-height: 100%;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	/* background-image: var(--check-background); */
}
header h1 {
	letter-spacing: 10px;
	color: white;
	font-weight: 700;
}

/* main */

main,
input {
	color: var(--text-light-greyish-blue);
	caret-color: var(--bright-blue-text);
	font-size: 1.1rem;
}
/* light mode colors */
.parent-container.light main,
.parent-container.light input {
	color: var(--light-mode-dark-grey3);
	font-weight: 400;
}
input::placeholder {
	color: var(--text-dark-greyish-blue-2);
}

.parent-container.light input::placeholder {
	color: var(--light-mode-dark-grey2);
}

main .display-container {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
	background-color: var(--primary-dark-background);
	padding: 10px;
	border-radius: 7px;
}

.parent-container.light .display-container {
	background-color: var(--main-light-background);
}

main .check-div {
	/* display: inline-block; */
	padding: 6px;
	border: 2px solid var(--text-dark-greyish-blue-1);
	border-radius: 50%;
	width: 22px;
	height: 22px;
	display: grid;
	place-content: center;
}

.parent-container.light .check-div {
	border-color: var(--light-mode-dark-grey1);
}
main .check-div:hover {
	background: linear-gradient(hsl(235, 24%, 19%), hsl(235, 24%, 19%))
			padding-box,
		var(--check-background) border-box;
	border: 2px solid transparent;
	border-radius: 50%;
	cursor: pointer;
}
.parent-container.light main .check-div:hover {
	background: linear-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 98%)) padding-box,
		var(--check-background) border-box;
	border: 2px solid transparent;
	border-radius: 50%;
	cursor: pointer;
}

.list-container.active .check-div {
	background-image: var(--check-background);
}
.parent-container.light .list-container.active .check-div {
	background-image: var(--check-background);
}
/* the p containing the lists */
main .list {
	cursor: pointer;
	word-break: break-all;
	width: 85%;
}
main .list-container.active .list {
	text-decoration: line-through;
	color: var(--text-dark-greyish-blue-1);
	cursor: pointer;
}

.parent-container.light .list-container.active .list {
	color: var(--light-mode-dark-grey1);
}

/* the input style */
main .input-todo {
	background-color: transparent;
	border: none;
	outline: none;
	width: 100%;
}
/* the box for the lists */
.list-controls,
.list-controls > * {
	border-radius: 7px;
}
.parent-container.light .list-controls {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.parent-container .list-controls {
	box-shadow: rgba(0, 0, 0, 0.559) 0px 25px 50px -12px;
}
.list-box {
	margin-top: 1rem;
	height: 60vh;
	overflow-y: auto;
	background-color: var(--primary-dark-background);
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
.parent-container.light .list-box {
	background-color: var(--main-light-background);
}
.list-box::-webkit-scrollbar-track {
	background-color: #cccccc;
	/* background-image: var(--scroll-background) !important; */
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
	border-radius: 100px;
}
.list-box::-webkit-scrollbar {
	width: 10px;
	background-color: #f5f5f5;
	border-radius: 100px;
}
.list-box::-webkit-scrollbar-thumb {
	background-color: #fff;
	background-image: var(--scroll-background);
	border-radius: 100px;
}
/* the individual lists */
.list-container {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid var(--text-dark-greyish-blue-1);
}
.parent-container.light .list-container {
	border-color: var(--light-mode-dark-grey1);
}
.list-container:nth-last-child(1) {
	border-bottom: none;
}

/* the close icon, hidden until hovered on */
.close-icon {
	visibility: hidden;
}

.list-container:hover .close-icon {
	visibility: visible !important;
}

.working {
	display: flex;
	background-color: var(--primary-dark-background);
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-top: 1px solid var(--text-dark-greyish-blue-1);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	font-size: 0.9rem;
	color: var(--text-dark-greyish-blue-1);
}
.parent-container.light .working {
	border-color: var(--light-mode-dark-grey1);
	background-color: var(--main-light-background);
	color: var(--light-mode-dark-grey2);
}

.clear:hover {
	color: #fff;
}

.parent-container.light .clear:hover {
	color: var(--light-mode-dark-grey3);
}
.desktop {
	display: none;
}
.mobile {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background: var(--primary-dark-background);
	padding: 10px 0;
	border-radius: 8px;
	text-transform: capitalize;
	font-size: 0.9rem;
	font-weight: 700;
	color: var(--text-dark-greyish-blue-1);
}
.parent-container.light .mobile {
	background: var(--main-light-background);
	box-shadow: rgba(0, 0, 0, 0.559) 0px 25px 50px -12px;
}
.mobile span:hover {
	color: #fff;
	cursor: pointer;
}
.parent-container.light .mobile span:hover {
	color: var(--light-mode-dark-grey3);
}
footer {
	margin-top: 1rem;
	text-align: center;
	color: var(--text-dark-greyish-blue-1);
}
@media screen and (min-width: 768px) {
	.mobile {
		display: none;
		border-radius: 8px;
	}
	.desktop {
		display: block;
	}
	.desktop {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		text-transform: capitalize;
		font-size: 0.9rem;
		font-weight: 700;
		color: var(--text-dark-greyish-blue-1);
		border-radius: 8px;
	}
	.desktop span:hover {
		color: #fff;
		cursor: pointer;
	}
	.parent-container.light .desktop span:hover {
		color: var(--light-mode-dark-grey3);
	}
}
